.about#about
    .container
        h2.title О компании
        .about__inner
            .about__wrapper
                .about__wrapper-list.js-hidden-container
                    .about__wrapper-inner
                        span.about__description «EcoWood» - оборудование сочетающее в себе лучшие решения по деревообработке и обладающее экономичностью и доступностью технологий для каждого.
                        span.about__title Сушильные камеры «EcoWood» это:
                        ul.about__list
                            li.about__list-item Полный цикл изготовления сушильной камеры от проектирования и производства до сервисного обслуживания
                            li.about__list-item Современные, технологичные, соответствующие ГОСТам сушильные камеры конвективного типа, которые вобрали в себя все лучшее от Европейских аналогов, но сохранили для Вас отличную цену.
                            li.about__list-item Технически выверенные расчеты и чертежи выполняемые опытными конструкторами с использованием самых современных компьютерных технологий.
                            li.about__list-item Камеры максимально модернизированы и адаптированы к эксплуатации в суровых Российских условиях.
                            li.about__list-item Высококвалифицированные технические специалисты, готовые проконсультировать вас по любому вопросу , связанному с сушкой древесины.
                            li.about__list-item Полный цикл изготовления сушильной камеры от проектирования и производства до сервисного обслуживания
                            li.about__list-item Современные, технологичные, соответствующие ГОСТам сушильные камеры конвективного типа, которые вобрали в себя все лучшее от Европейских аналогов, но сохранили для Вас отличную цену.
                            li.about__list-item Технически выверенные расчеты и чертежи выполняемые опытными конструкторами с использованием самых современных компьютерных технологий.
                            li.about__list-item Камеры максимально модернизированы и адаптированы к эксплуатации в суровых Российских условиях.
                            li.about__list-item Высококвалифицированные технические специалисты, готовые проконсультировать вас по любому вопросу , связанному с сушкой древесины.
                    span.about__list-btn.button-more.button-more--text.js-more-btn Развернуть
                .about__pic
                    img(src="assets/images/video.jpg", alt="")
                            

