.footer
    .container
        .footer__head 
            a(href="#").footer__logo
                img(src="assets/images/footer-logo.svg", alt="") 
            span.footer__text Производим сушильные камеры и котельные установки
        .footer__catalog
            .footer__catalog-btn
                span.footer__button-text Каталог
                img(src="assets/images/arrow-catalog.svg", alt="")
            .footer__catalog-dropdown.js-catalog-container
        .footer__inner
            .footer-col.footer-col--nav
                ul.footer__list
                    li.footer__list-item
                        a(href="#") О компании
                    li.footer__list-item
                        a(href="#") Услуг
                    li.footer__list-item
                        a(href="#") Контакты
            .footer-col.footer-col--catalog.js-catalog-item
                h2.footer__title Сушильные камеры
                ul.footer__list
                    li.footer__list-item
                        a(href="#") Пресс-вакуумные сушильные камеры ML
                    li.footer__list-item
                        a(href="#") Турбовакуумные сушильные камеры для слэбов EcoWood
                    li.footer__list-item
                        a(href="#") Конвективные сушильные камеры
            .footer-col.footer-col--catalog.js-catalog-item
                h2.footer__title Котельные установки
                ul.footer__list 
                    li.footer__list-item
                        a(href="#") Котельные установки
                    li.footer__list-item
                        a(href="#") Duis aute irure dolor in reprehenderit in voluptate velit
                    li.footer__list-item
                        a(href="#") Esse cillum dolore eu fugiat nulla pariatur excepteur sint 
            .footer-col.footer-contact
                .footer-contact__mail
                    a(href="mailto:info@ecowood.com.ru") info@ecowood.com.ru
                .footer-contact__phone
                    a(href="tel:+74951376255") + 7 (495) 137-62-55
                    a(href="tel:88005118355") 8 (800) 511-83-55
                .footer-contact__adress
                    span 105318, Москва, Семёновская пл. 1А
        .footer__bottom 
            span Вы принимаете условия <a href="#">политики конфиденциальности</a> каждый раз, когда оставляете свои данные в любой форме обратной связи на сайте ecowood.com.ru



