.service 
    .container
        .service__inner
            .service__item
                .service__pic
                    img(src="assets/images/list.svg", alt="")
                span.service__name Гарантия качества
                span.service__text Мы уверены в качестве наших построек, а именно в качестве материалов и профессионализме бригад! Поэтому можем позволить себе дать гарантию до 10 лет!
            .service__item
                .service__pic  
                    img(src="assets/images/list.svg", alt="")
                span.service__name На рынке с 2015 года
                span.service__text За долгие годы мы наработали десятки поставщиков с самыми выгодными ценами. Опробовали десятки технологий. Сейчас мы с уверенностью можем назвать себя экспертами!
            .service__item
                .service__pic
                    img(src="assets/images/list.svg", alt="")
                span.service__name Опытные строители
                span.service__text У нас работают только плотники с опытом работы с деревом от 7 лет. Раз в 2-3 месяца все бригады проходят тестирование на профориентацию
            .service__item
                .service__pic
                    img(src="assets/images/list.svg", alt="")
                span.service__name 1500 + сданных объектов
                span.service__text С 2017 года мы стабильно строим по 150-200 домов и бань в год