.main#main(style="background-image: url('assets/images/bg.png')")
    .container
        .main__inner
            .main__item
                h1.main__title Лучшее предложение
                span.main__text Мы уверены в качестве наших построек, а именно в качестве материалов
                .main-wrap 
                    a(href="#").main__button.main__button--green
                        span Сушильные<br> камеры
                        <svg class="arrow-icon" width="22" height="18">
                            <use xlink:href="assets/images/sprite.svg#arrow"></use>
                        </svg>
                    a(href="#").main__button.main__button--red 
                        span Котельные<br> установки
                        <svg class="arrow-icon" width="22" height="18">
                            <use xlink:href="assets/images/sprite.svg#arrow"></use>
                        </svg>
            .main__item
                .main__pic
                    img(src="assets/images/main.png", alt="")
                