include _mixins.pug
.popup__title
    h2.title Заказать оборудование в лизинг
form.popup__form.form.js-form-leasing(action="#")
    input(type="hidden" name="title" value="Заявка на лизинг")
    .form__field
        label.form__label Ваше имя
        input.form__input(type="text", name="name" placeholder="Александр" data-validate-field="name" autocomplete="off")
    .form__field
        label.form__label E-mail
        input.form__input(type="email", name="email" placeholder="E-mail" data-validate-field="email" autocomplete="off")
    .form__field
        label.form__label Ваш телефон
        input.form__input(type="text", name="phone" placeholder="+7(___)___-__-__" data-validate-field="myField" autocomplete="off" id="phone-mask-leasing")
    .form__field
        label.form__label Сообщение
        textarea.form__textarea(name="text", cols="5", rows="5" placeholder="Ваше сообщение" data-validate-field="text" id="text")
    .form__button
        button.popup__btn.button(value="Отправить") Отправить
.popup__close.js-close
    span.popup__close-line.popup__close-line--left
    span.popup__close-line.popup__close-line--right
script
    include components/popup/leasing-form.js

