.detail-tabs
    .detail-tabs__head
        span(href="#model").detail-tabs__button Модельный ряд 
        span(href="#char").detail-tabs__button Технические характеристики
        span(href="#spec").detail-tabs__button Особенности
        span(href="#leasing").detail-tabs__button Лизинг
        span(href="#complect").detail-tabs__button Комплектующие
    .detail-tabs__content
        .detail-tabs__tab#model
            <div class="compareTable js-compare-table">
                <div class="thead">
                    <div class="th">
                        <div class="tcell">Модель</div>
                    </div>
                    <div class="tw">
                        <div class="tctrl"></div>
                        <div class="tr">
                            <div class="th">
                                <div class="tcell">Объем загрузки, м³</div>
                            </div>
                            <div class="th">
                                <div class="tcell">Ширина, м</div>
                            </div>
                            <div class="th">
                                <div class="tcell">Глубина, м</div>
                            </div>
                            <div class="th">
                                <div class="tcell">Высота, м</div>
                            </div>
                            <div class="th">
                                <div class="tcell">Вентиляторов, шт</div>
                            </div>
                        </div>
                    </div>
                    <div class="th td-button">
                        <div class="tcell"></div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 К
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">50</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,2</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show"  data-content=".js-popup" data-ajax="/form-order.html">Рассчитать стоимость
                        </div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 S
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">60</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">7,4</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html">Рассчитать стоимость
                        </div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 P
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">80</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,6</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 PP
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">90</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">9,84</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×8 S
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">80</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">7,4</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×8 P
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">100</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,6</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×12 S
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">120</div>
                            </div>
                            <div class="td">
                                <div class="tcell">12,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">7,4</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×12 P
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">150</div>
                            </div>
                            <div class="td">
                                <div class="tcell">12,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,6</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×12 PP
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">180</div>
                            </div>
                            <div class="td">
                                <div class="tcell">12,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">9,84</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
            </div>
        .detail-tabs__tab.detail-description#char Особенности
        .detail-tabs__tab#spec Особенности
        .detail-tabs__tab#leasing Лизинг
        .detail-tabs__tab#complect Комплектующие