.detail-tabs
    .detail-tabs__head
        span(href="#model").detail-tabs__button Модельный ряд 
        span(href="#char").detail-tabs__button Технические характеристики
        span(href="#spec").detail-tabs__button Особенности
        span(href="#leasing").detail-tabs__button Лизинг
        span(href="#complect").detail-tabs__button Комплектующие
    .detail-tabs__content
        .detail-tabs__tab#model
            <div class="compareTable js-compare-table">
                <div class="thead">
                    <div class="th">
                        <div class="tcell">Модель</div>
                    </div>
                    <div class="tw">
                        <div class="tctrl"></div>
                        <div class="tr">
                            <div class="th">
                                <div class="tcell">Объем загрузки, м³</div>
                            </div>
                            <div class="th">
                                <div class="tcell">Ширина, м</div>
                            </div>
                            <div class="th">
                                <div class="tcell">Глубина, м</div>
                            </div>
                            <div class="th">
                                <div class="tcell">Высота, м</div>
                            </div>
                            <div class="th">
                                <div class="tcell">Вентиляторов, шт</div>
                            </div>
                        </div>
                    </div>
                    <div class="th td-button">
                        <div class="tcell"></div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 К
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">50</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,2</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show"  data-content=".js-popup" data-ajax="/form-order.html">Рассчитать стоимость
                        </div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 S
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">60</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">7,4</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html">Рассчитать стоимость
                        </div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 P
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">80</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,6</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×6 PP
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">90</div>
                            </div>
                            <div class="td">
                                <div class="tcell">6,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">9,84</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×8 S
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">80</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">7,4</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×8 P
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">100</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,6</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×12 S
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">120</div>
                            </div>
                            <div class="td">
                                <div class="tcell">12,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">7,4</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×12 P
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">150</div>
                            </div>
                            <div class="td">
                                <div class="tcell">12,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">8,6</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
                <div class="tline">
                    <div class="td td_name">
                        <div class="tcell">KAD 1×12 PP
                        </div>
                    </div>
                    <div class="tw">
                        <div class="tr">
                            <div class="td">
                                <div class="tcell">180</div>
                            </div>
                            <div class="td">
                                <div class="tcell">12,96</div>
                            </div>
                            <div class="td">
                                <div class="tcell">9,84</div>
                            </div>
                            <div class="td">
                                <div class="tcell">4,1</div>
                            </div>
                            <div class="td">
                                <div class="tcell">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="td td-button">
                        <div class="td_button js-popup-show" data-content=".js-popup" data-ajax="/form-order.html"">Рассчитать стоимость</div>
                    </div>
                </div>
            </div>
        .detail-tabs__tab.detail-description#char Технические характеристики
        .detail-tabs__tab#spec 
            .detail__service.detail__service--hidden.detail-service.js-parent
                .detail-service__inner
                    .detail-service__row
                        h3.detail-service__row-title Технические особенности
                        .detail-service__row-wrap
                            .detail-service__item
                                .detail-service__item-wrap.js-hidden-container
                                    span.detail-service__item-description.js-service-text Полностью алюминиевый каркас: опорные конструкции из профиля с толщиной стенок 5 мм. Размеры в сечении – 100х120 мм или 100х150 мм. Продольные и поперечные связи - из профиля 100х50, 50х50, толщина стенок 5 мм. Опорные фермы - сварные из профиля 100х50 мм. Передняя ферма - усиленной конструкции из профиля 130х60х5 мм под установку трех кронштейнов подвески монорельса. Стойки и перекладина воротного притвора из алюминиевого профиля 130х60х5 мм с нержавеющими деталями подвески ворот. <br><br> В качестве утеплителя в стеновых панелях используется минеральная вата или пенополиостирол толщиной 150 мм, что позволяет эксплуатировать сушильные камеры при температуре окружающей среды до -55 °С. <br><br> Снаружи на каркас сушильной камеры установлены алюминиевые панели кассетного типа. Толщина алюминия 1.0 мм, кассеты изготовлены на гибочном оборудовании. Длина кассет 2400 мм, ширина 900 мм, высота стенок от 100 до 150 мм (под установку утеплителя - минеральной ваты соответствующей толщины; как стандарт – 150 мм). Кассеты смонтированы горизонтальными рядами снизу до верху закреплены к трубному профилю каркаса нержавеющими саморезами и алюминиевыми заклепками. После установки утеплителя в кассеты, стены зашиты (снаружи) алюминиевым профильным листом НС-20. <br><br> <strong>Вся конструкция выдерживает снеговую нагрузку до 240&nbsp;кг&nbsp;/&nbsp;м<sup>2</sup> и скорость ветра 0,38 кПа.</strong>
                                    .detail-service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                                .detail-service__item.detail-service__item--pic(style="background-image: url(assets/images/service1.jpg)")
                    .detail-service__row
                        h3.detail-service__row-title Система вентиляции
                        .detail-service__row-wrap
                            .detail-service__item
                                .detail-service__item-wrap.js-hidden-container
                                    span.detail-service__item-description.js-service-text Комплектуется осевыми вентиляторами, которые устанавливаются на алюминиевой ферме над подвесным потолком.<br><br> Электродвигатель вентилятора предназначен для работы при температуре более 115 °С и влажности 100%, в тропическом исполнении, (класс теплостойкости Н), степень защиты IP 55 (пылезащищенный, защита от водяных струй со всехсторон), скорость вращения вала 1500 об/мин. <strong>Ресурс работы составляет до 10-15 лет.</strong> <br><br>Производитель двигателей – Lafert (Италия). Крыльчаток – Elektrovent (Италия).<br><br> Крыльчатка вентилятора 8-ми лопастная алюминиевая с симметричным профилем для обеспечения одинаковой эффективности при вращении в обоих направлениях, благодаря идеальной заводской балансировке и калибровки угла атаки лопастей под рабочую мощность двигателя, достигается максимальный коэффициент полезного действия и вследствие этого происходит экономия энергии. Рабочая температура от -800 °С до +3000 °С. Обечайки выполнены из алюминия.
                                    .detail-service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                                .detail-service__item.detail-service__item--pic(style="background-image: url(assets/images/service2.jpg)")
                    .detail-service__row
                        h3.detail-service__row-title Автоматический контроллер LiTOUCH (Италия)
                        .detail-service__row-wrap
                            .detail-service__item
                                .detail-service__item-wrap.js-hidden-container
                                    span.detail-service__item-description.js-service-text LItouch является естественной эволюцией известной системы управления DELPHI, получены сочетания более продвинутого контроллера dTOUCH с особенностями DELPHI. В результате система управления, которая сочетает в себе легкость DELPHI с удобным интерфейсом dTOUCH. <br><br>Контроллер разработанный на основе передовых технологий в электронике, вобрал в себя результаты многолетнего опыта производства автоматики сушильных камер. Удобное меню позволяет производить быструю настройку контроллера даже неопытному пользователю. Все страницы контроллера имеют строку текущего состояния. <br><br>ОПЦИЯ. С помощью программного обеспечения LView (поставляется по дополнительному согласованию) можно управлять комплексом сушильных камер (поддерживает до 32-х камер). Система подключается к персональному компьютеру с помощью USB преобразователя, он же электронный ключ. Программа позволяет обновлять версии прошивки при наличии подключения к сети интернет. С помощью программного обеспечения оператор может выполнять на ПК все операции, доступные из местной панели. Программное обеспечение для ПК позволяет записывать данные в ходе процесса сушки, представляя их в виде таблицы или графика.
                                    .detail-service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                                .detail-service__item.detail-service__item--pic.detail-service__item--litouch(style="background-image: url(assets/images/litouch.jpg)")
                    .detail-service__row
                        h3.detail-service__row-title Подвесной потолок
                        .detail-service__row-wrap
                            .detail-service__item
                                .detail-service__item-wrap.js-hidden-container
                                    span.detail-service__item-description.js-service-text Состоит из профильных алюминиевых листов, установленных на специальные направляющие, что обеспечивает простоту монтажа и даёт доступ к sвентиляторам при проведении их обслуживания.
                                    .detail-service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                                .detail-service__item.detail-service__item--pic(style="background-image: url(assets/images/potolok.jpg)")
                    .detail-service__row
                        h3.detail-service__row-title Ворота подъёмно-откатного типа
                        .detail-service__row-wrap
                            .detail-service__item
                                .detail-service__item-wrap.js-hidden-container
                                    span.detail-service__item-description.js-service-text Каркас изготовлен из алюминиевого профиля, механически скреплённого друг с другом винтами из нержавеющей стали и снабженного тягами для обеспечения устойчивости и прочности. Имеют девять точек прижима. Ворота идеально изолированы благодаря специальному профилю из твердого силикона по всему периметру ворот. Для подъёма ворот используется гидравлическая тележка, которая обеспечивает легкий подъём и сдвиг ворот.
                                    .detail-service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                                .detail-service__item.detail-service__item--pic(style="background-image: url(assets/images/111.jpg)")
                    .detail-service__row
                        h3.detail-service__row-title Воздушные заслонки
                        .detail-service__row-wrap
                            .detail-service__item
                                .detail-service__item-wrap.js-hidden-container
                                    span.detail-service__item-description.js-service-text Воздушные заслонки, регулируют обмен потока внутреннего воздуха. Размер сечения заслонки 450х450 мм. Приводы <strong>Belimo (Швейцария)</strong> пропорционально управляют открытием и закрытием воздушных заслонок. Воздушные заслонки могут быть расположены как на крыше, так на передней или задней стенке сушильной камеры.
                                    .detail-service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                                .detail-service__item.detail-service__item--pic(style="background-image: url(assets/images/zaslonki.jpg)")
                    .detail-service__row
                        h3.detail-service__row-title Система нагрева
                        .detail-service__row-wrap
                            .detail-service__item
                                .detail-service__item-wrap.js-hidden-container
                                    span.detail-service__item-description.js-service-text Система нагрева состоит из биметаллических двухрядных теплообменников: трубы из углеродистой стали , ребра из алюминия.<br><strong>(Опционально: нержавеющая сталь с алюминиевым оребрением)</strong><br><br> В теплообменнике исключена любая коррозия, очень стоек к размораживанию системы. Маленький шаг оребрения увеличивает площадь нагревательных элементов.<br><br> Теплообменники устанавливаются на задней стенке, снабжены ответными фланцами. Двухрядность калорифера позволяет максимально увеличить теплоотдачу, не создавая при этом выше расчетных препятствий для потока воздуха. Также установлен автоматический клапана для спуска воздуха. Данные теплообменники разработаны специалистами нашей компании в полном соответствии с требованиями эксплуатации в сушильных камерах, изготавливаются по индивидуальному заказу.<br><br> Производитель – Россия.
                                    .detail-service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                                .detail-service__item.detail-service__item--pic(style="background-image: url(assets/images/nagrev.jpg)")
                    .detail-service__row
                        h3.detail-service__row-title Инспекционные двери
                        .detail-service__row-wrap
                            .detail-service__item
                                .detail-service__item-wrap.js-hidden-container
                                    span.detail-service__item-description.js-service-text Располагаются в воротах и на задней стенке сушильной камеры. Изготовлены из алюминиевого корпуса с силиконовыми прокладками, с термоизоляцией как в стенах камеры. Оборудована удобным замком. Наличие двух инспекционных дверей позволяет контролировать все датчики, и сам процесс сушки.
                                    .detail-service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                                .detail-service__item.detail-service__item--pic(style="background-image: url(assets/images/dveri.jpg)")
                    .detail-service__row
                        h3.detail-service__row-title Трехходовой кран для регулирования подачи горячей воды
                        .detail-service__row-wrap
                            .detail-service__item
                                .detail-service__item-wrap.js-hidden-container
                                    span.detail-service__item-description.js-service-text Для подачи горячей воды в сушильную камеру используется трехходовой кран с исполнительным приводом производства <strong>Belimo (Швейцария).</strong> Диаметр (ДУ) 50 или 65 мм. Кран регулирует подачу горячей воды в пропорциональном режиме.<br><br><strong>Трехходовой кран для регулирования подачи горячей воды входит в базовую комплектацию каждой модели EcoWood.</strong>
                                    .detail-service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                                .detail-service__item.detail-service__item--pic(style="background-image: url(assets/images/gor.jpg)")
                    .detail-service__row
                        h3.detail-service__row-title Система увлажнения
                        .detail-service__row-wrap
                            .detail-service__item
                                .detail-service__item-wrap.js-hidden-container
                                    span.detail-service__item-description.js-service-text Двухсторонняя (или односторонняя) система увлажнения поставляется вместе с двумя электромагнитными клапанами и располагается на задней стенке и на стенке над воротами. Благодаря двум веткам увлажнения, включаются форсунки той стороны, в чью сторону работает реверс. Это исключает возможность сбивания капель увлажнения на стены камеры и прямого попадания на древесину и в несколько раз увеличивает эффективность работы системы увлажнения. Трубы, на которых закреплены распыляющие форсунки из латуни, изготовлены из меди. <br><br> - комплект распределительных труб из меди с форсунками.<br>- 5+5 форсунок (на каждой стороне камеры)<br>- форсунки <strong>Danfoss (Дания),</strong> каждая имеет встроенный фильтр.<br>- пропускная способность каждой форсунки 18,5 л/час<br>- два электромагнитных клапана <strong>Danfoss (Дания)</strong><br>- фильтр для очистки<br> Для увлажнения используется холодная вода, давление не менее 5-6 Бар.
                                    .detail-service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                                .detail-service__item.detail-service__item--pic(style="background-image: url(assets/images/uvlazh.jpg)")
                    .detail-service__row
                        h3.detail-service__row-title Электрощит управления
                        .detail-service__row-wrap
                            .detail-service__item
                                .detail-service__item-wrap.js-hidden-container
                                    span.detail-service__item-description.js-service-text Электрощит управления, отвечающий самым высоким и современным требованиям, имеет полную электрозащиту, имеет дублирующее управление, световую индикацию и максимальную степень надежности.<br>Электрическая панель осуществляет автоматическое или ручное управление всеми функциями сушильного процесса.<br>Встроенные огни помогают оператору отслеживать текущее состояние и помогают легко найти и устранить неисправность. <br><br> <strong>Характеристики:</strong><br><br> - Защита по входному напряжению:<br> а) от перекоса фаз<br> б) от пропадания фазы<br>в) от пропадания нуля<br> г) от подмены фазы вместо нуля<br> д) от отклонения напряжения<br> е) от чередования фаз<br><br> - Защита силовых выходных цепей:<br> а) от перегрузки<br> б) от обрыва цепи<br> в) от короткого замыкания<br><br> - Защита коммутационных цепей внутренней разводки щита<br>- Световая индикация аварийной цепи<br> - Защита выходных цепей контроллера<br> - Последовательный запуск моторов (интервал 1 сек.)<br> - Индикация состояния каждого мотора (работа, пауза, авария)<br> - Защита от случайного включения вентилятора в реверсивную сторону без паузы<br> - Контроль, индикация и защита от неблагоприятных температурных режимов эксплуатации пульта управления<br> - Стабилизатор питания контроллера<br> - Индикация состояния входного напряжения (В случае отклонения напряжения сети от нормы произойдет отключение моторов, при восстановлении питания моторы будут запущены автоматически по истечении 3-х минут)<br> - Индикация направления вращения моторов<br>- Индикация подаваемых импульсов на приводы заслонок, крана, системы увлажнения (откр. или закр.)<br> - Индикация положения переключателей режима (ручной или автоматический)<br> - Возможность пропорционального управления каждым контуром (нагревом, увлажнением, обдувом или аспирацией) в отдельности (без участия контроллера) - Возможность работать полностью без участия контроллера<br> - Две независимые от направления вращения вентиляторов, линии увлажнения<br> - При аварийном выключении контроллером вентиляторов из-за критически низкой влажности воздуха будут задействованы одновременно две линии увлажнения<br> - При отключении и включении электропитания процесс сушки самостоятельно продолжится с места остановки.<br><br> <strong>Высококачественные импортные комплектующие, сборка – Россия.</strong>
                                    .detail-service__item-btn.button-more.button-more--text.js-more-btn Развернуть
                                .detail-service__item.detail-service__item--pic(style="background-image: url(assets/images/electro.jpg)")
        .detail-tabs__tab#leasing
            <div class="mainDisconts__wrap active js-discont-section" data-discont-section-name="entity">
                <div class="wrapper">
                    <div class="financeCalculator js-finance-calculator">
                        <div class="financeCalculator__inner">
                            <div class="financeCalculator__form js-finance-form">
                                <div class="financeCalculator__title">Укажите параметры</div>
                                <div class="financeCalculator__selection js-range-values" data-leasing-select="sum">
                                    <div class="leasingFormData__value">
                                        <label class="leasingFormData__name leasingFormData__name_fp" for="leasing-sum">Стоимость оборудования с НДС</label>
                                        <input class="leasingFormData__input" name="finance-calc-sum" id="leasing-sum" type="text" value="500 000 Р">
                                    </div>
                                    <div class="leasingFormData__range leasingFormData__range_price js-range-values-selection"></div>
                                </div>
                                <div class="financeCalculator__selection js-range-values" data-leasing-select="prepayment">
                                    <div class="leasingFormData__value">
                                        <label class="leasingFormData__name leasingFormData__name_fp" for="leasing-prepayment">Первоначальный взнос</label>
                                        <input class="leasingFormData__input" name="finance-calc-prepaid" id="leasing-prepayment" type="text" value="5%">
                                    </div>
                                    <div class="leasingFormData__range leasingFormData__range_avans js-range-values-selection"></div>
                                </div>
                                <div class="financeCalculator__selection js-range-values" data-leasing-select="time-finance">
                                    <div class="leasingFormData__value">
                                        <label class="leasingFormData__name leasingFormData__name_fp" for="leasing-time-finance">Срок договора</label>
                                        <input class="leasingFormData__input" name="finance-calc-time" id="leasing-time-finance" type="text" value="1 год">
                                    </div>
                                    <div class="leasingFormData__range leasingFormData__range_time js-range-values-selection"></div>
                                </div>
                            </div>
                            <div class="financeCalculator__wrapTable financeCalculator__wrapTable--left financeCalculator__wrapTable_result js-finance-table-result">
                                <div class="financeCalculator__table compareTable_finance js-finance-table" data-table-props="head-fix" data-finance-elem="table">
                                    <div class="tline tline_separator tline_accentHead">
                                        <div class="tcell financeCalculator__title">Итого затрат по проекту с учетом налоговых выгод</div>
                                    </div>
                                    <div class="tline tline_accent tline_main">
                                        <div class="td td_large">
                                            <div class="tcell"> Финансовый результат, руб.
                                                <div class="financeCalculator__infoPopup infoPopup infoPopup_product js-info-popup initialized">
                                                    <button class="infoPopup__link infoPopup__link_product js-info-popup-link">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="assets/images/sprite.svg#info"></use>
                                                        </svg>
                                                    </button>
                                                    <div class="infoPopup__inside infoPopup__inside_prod js-info-popup-inside initialized">
                                                        <button class="infoPopup__close js-info-popup-close">
                                                            <svg width="16" height="16">
                                                                <use xlink:href="assets/images/sprite.svg#cross"></use>
                                                            </svg>
                                                        </button>
                                                        <div class="infoPopup__results infoPopup__results_course">
                                                            <div class="infoPopup__lineResult">Рассчитано как: «Финансовый результат» = «платежи по договору» - «налоги»</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tw">
                                            <div class="tr">
                                                <div class="td">
                                                    <div class="tcell" data-table-cell="leasing-result">-</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tline tline_accent">
                                        <div class="td td_large">
                                            <div class="tcell"> Экономия, руб.
                                                <div class="financeCalculator__infoPopup infoPopup infoPopup_product js-info-popup initialized">
                                                    <button class="infoPopup__link infoPopup__link_product js-info-popup-link">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="assets/images/sprite.svg#info"></use>
                                                        </svg>
                                                    </button>
                                                    <div class="infoPopup__inside infoPopup__inside_prod js-info-popup-inside initialized">
                                                        <button class="infoPopup__close js-info-popup-close">
                                                            <svg width="16" height="16">
                                                                <use xlink:href="assets/images/sprite.svg#cross"></use>
                                                            </svg>
                                                        </button>
                                                        <div class="infoPopup__results infoPopup__results_course">
                                                            <div class="infoPopup__lineResult">Рассчитано как: «Экономия» = «Всего платежей» - «финансовый результат»</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tw">
                                            <div class="tr">
                                                <div class="td">
                                                    <div class="tcell" data-table-cell="leasing-saving">-</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tline tline_accentFooter">
                                        <div class="td td_large">
                                            <div class="tcell"> Экономия, %
                                                <div class="financeCalculator__infoPopup infoPopup infoPopup_product js-info-popup initialized">
                                                    <button class="infoPopup__link infoPopup__link_product js-info-popup-link">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="assets/images/sprite.svg#info"></use>
                                                        </svg>
                                                    </button>
                                                    <div class="infoPopup__inside infoPopup__inside_prod js-info-popup-inside initialized">
                                                        <button class="infoPopup__close js-info-popup-close">
                                                            <svg width="16" height="16">
                                                                <use xlink:href="assets/images/sprite.svg#cross"></use>
                                                            </svg>
                                                        </button>
                                                        <div class="infoPopup__results infoPopup__results_course">
                                                            <div class="infoPopup__lineResult">Рассчитано как: «Экономия в %» = «экономия» / «Всего платежей»</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tw">
                                            <div class="tr">
                                                <div class="td">
                                                    <div class="tcell" data-table-cell="leasing-saving-percent">-</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="financeCalculator__wrapTable financeCalculator__wrapTable--right financeCalculator__wrapTable_result js-finance-condition js-finance-table-result">
                            <div class="financeCalculator__table compareTable_finance js-finance-table" data-table-props="head-fix" data-finance-elem="table">
                                <div class="tline tline_separator">
                                    <div class="tcell financeCalculator__title">Результаты расчета</div>
                                </div>
                                <div class="tline">
                                    <div class="td td_large">
                                        <div class="tcell"><b>Ежемесячный платеж, руб.</b></div>
                                    </div>
                                    <div class="tw">
                                        <div class="tr">
                                            <div class="td">
                                                <div class="tcell" data-table-cell="leasing-payment"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tline">
                                    <div class="td td_large">
                                        <div class="tcell">Сумма договора лизинга</div>
                                    </div>
                                    <div class="tw">
                                        <div class="tr">
                                            <div class="td">
                                                <div class="tcell" data-table-cell="leasing-result-expenses"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tline">
                                    <div class="td td_large">
                                        <div class="tcell">Годовое удорожание</div>
                                    </div>
                                    <div class="tw">
                                        <div class="tr">
                                            <div class="td">
                                                <div class="tcell" data-table-cell="leasing-rate"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="financeCalculator__title financeCalculator__title--fp">Налоговый режим:</div>
                                <div class="financeCalculator__selection financeCalculator__selection_checkboxes">
                                    <div class="td_large">Выберите режим</div>
                                    <label class="customCheckbox financeCalculator__checkbox">
                                        <input type="radio" name="finance-calc-tax-regime" value="20" checked class="visually-hidden">
                                        <span class='customcheck'></span>
                                        <span>ОСНО</span>
                                        <div class="financeCalculator__infoPopup infoPopup infoPopup_product js-info-popup initialized">
                                            <button class="infoPopup__link infoPopup__link_product js-info-popup-link">
                                                <svg width="16" height="16">
                                                    <use xlink:href="assets/images/sprite.svg#info"></use>
                                                </svg>
                                            </button>
                                            <div class="infoPopup__inside infoPopup__inside_prod js-info-popup-inside initialized">
                                                <button class="infoPopup__close js-info-popup-close">
                                                    <svg width="16" height="16">
                                                        <use xlink:href="assets/images/sprite.svg#cross"></use>
                                                    </svg>
                                                </button>
                                                <div class="infoPopup__results infoPopup__results_course">
                                                    <div class="infoPopup__lineResult">Общая система налогообложения.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <label class="customCheckbox financeCalculator__checkbox">
                                        <input type="radio" name="finance-calc-tax-regime" value="15" class="visually-hidden">
                                        <span class='customcheck'></span>
                                        <span>УСН 15%</span>
                                        <div class="financeCalculator__infoPopup infoPopup infoPopup_product js-info-popup initialized">
                                            <button class="infoPopup__link infoPopup__link_product js-info-popup-link">
                                                <svg width="16" height="16">
                                                    <use xlink:href="assets/images/sprite.svg#info"></use>
                                                </svg>
                                            </button>
                                            <div class="infoPopup__inside infoPopup__inside_prod js-info-popup-inside initialized">
                                                <button class="infoPopup__close js-info-popup-close">
                                                    <svg width="16" height="16">
                                                        <use xlink:href="assets/images/sprite.svg#cross"></use>
                                                    </svg>
                                                </button>
                                                <div class="infoPopup__results infoPopup__results_course">
                                                    <div class="infoPopup__lineResult">Упрощенная система налогообложения «Доходы» - «Расходы», ставка налога 15% (ИП и ООО).</div>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <label class="customCheckbox financeCalculator__checkbox">
                                        <input type="radio" name="finance-calc-tax-regime" value="6" class="visually-hidden">
                                        <span class='customcheck'></span>
                                        <span>УСН 6%</span>
                                        <div class="financeCalculator__infoPopup infoPopup infoPopup_product js-info-popup initialized">
                                            <button class="infoPopup__link infoPopup__link_product js-info-popup-link">
                                                <svg width="16" height="16">
                                                    <use xlink:href="assets/images/sprite.svg#info"></use>
                                                </svg>
                                            </button>
                                            <div class="infoPopup__inside infoPopup__inside_prod js-info-popup-inside initialized">
                                                <button class="infoPopup__close js-info-popup-close">
                                                    <svg width="16" height="16">
                                                        <use xlink:href="assets/images/sprite.svg#cross"></use>
                                                    </svg>
                                                </button>
                                                <div class="infoPopup__results infoPopup__results_course">
                                                    <div class="infoPopup__lineResult">Упрощенная система налогообложения, ставка налога 6% (ИП, ООО).</div>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="hidden-container">
                                    <div class="tline tline_separator">
                                        <div class="tcell financeCalculator__title">Экономия по налогам</div>
                                    </div>
                                    <div class="tline">
                                        <div class="td td_large">
                                            <div class="tcell">Возмещение НДС</div>
                                        </div>
                                        <div class="tw">
                                            <div class="tr">
                                                <div class="td">
                                                    <div class="tcell" data-table-cell="leasing-tax-refund"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tline">
                                        <div class="td td_large">
                                            <div class="tcell">Снижение налога на прибыль</div>
                                        </div>
                                        <div class="tw">
                                            <div class="tr">
                                                <div class="td">
                                                    <div class="tcell" data-table-cell="leasing-tax-cuts"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tline">
                                        <div class="td td_large">
                                            <div class="tcell">Итого затрат</div>
                                        </div>
                                        <div class="tw">
                                            <div class="tr">
                                                <div class="td">
                                                    <div class="tcell" data-table-cell="leasing-result-tax"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-container">
                                <div class="financeCalculator__wrapBtn">
                                    <button class="main__button main__button--green js-popup-show" data-content=".js-popup" data-ajax="/form-leasing.html">
                                        <span>Оставить заявку на лизинг</span>
                                    </button>
                                </div>
                            </div>
                            <div class="financeCalculator__tableSign">Стоимость предмета лизинга и приведенные расчеты через калькулятор являются предварительными. Для точного определения процентной ставки по договору,пожалуйста, обратитесь к мнеджеру в вашем регионе.</div>
                        </div>
                    </div>
                </div>
            </div>
        .detail-tabs__tab#complect Комплектующие