.product#product
    .container
        .product__inner
            .product__item
                .product__pic 
                    img(src="assets/images/1.png", alt="")
                .product-wrap
                    span.product__name Сушильные камеры
                    ul.product__list 
                        li.product__list-item Пресс-вакуумные сушильные камеры ML
                        li.product__list-item Турбовакуумные сушильные камеры для слэбов EcoWood
                        li.product__list-item Конвективные сушильные камеры
            .product__item
                .product__pic 
                    img(src="assets/images/2.png", alt="")
                .product-wrap
                    span.product__name Котельные установки
                    ul.product__list 
                        li.product__list-item Котельные на отходах
                        li.product__list-item Duis aute irure dolor in reprehenderit in voluptate velit
                        li.product__list-item Esse cillum dolore eu fugiat nulla pariatur excepteur sint